<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huhuto.demo.mapper.UserMapper">

    <select id="getInfo" parameterType="String" resultType="com.huhuto.demo.bean.UserBean">
        SELECT * FROM user WHERE username = #{username} AND password = #{password}
    </select>

<!--    查找用户-->
    <select id="userById" parameterType="int" resultType="com.huhuto.demo.bean.UserBean">
        SELECT * FROM user WHERE id = #{id}
    </select>

<!--    根据条件筛选查找全部用户信息-->
    <select id="allUser" parameterType="String" resultType="com.huhuto.demo.bean.UserBean">
        SELECT * FROM user

        <choose>
            <when test="title!=''">
               WHERE username like '%${title}%'
            </when>
            <when test="sort=='ASC'">
            ORDER BY id ASC
            </when>
            <when test="sort=='DESC'">
             ORDER BY id DESC
            </when>
            <when test="limit!=''">
                <bind name="page" value="(page-1)*limit"></bind>
             LIMIT #{page}, #{limit}
            </when>
        </choose>

<!--        <if test="sort=='ASC'">-->
<!--         AND ORDER BY id ASC-->
<!--        </if>-->
<!--        <if test="limit!=''">-->
<!--         <bind name="page" value="(page-1)*limit"></bind>-->
<!--         AND LIMIT #{page}, #{limit}-->
<!--        </if>-->
    </select>



    <insert id="addUser" parameterType="com.huhuto.demo.bean.UserBean">
        insert into user (id,username,password,realName,sex,iphone,birthday,address,age,remark,statue,token,pic,avatar,roles) values (#{id},#{username},#{password},#{realName},#{sex},#{iphone},#{birthday},#{address},#{age},#{remark},0,#{token},#{pic},#{avatar},#{roles})
    </insert>

    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from user where id = #{id}
    </delete>

<!--     //更新用户-->
    <update id="updateUser" parameterType="com.huhuto.demo.bean.UserBean">
        update user set username=#{username},password=#{password},statue=#{statue},realName=#{realName},iphone=#{iphone},address=#{address},birthday=#{birthday},sex=#{sex},age=#{age},remark=#{remark},avatar=#{avatar},roles=#{roles} where id=#{id}
    </update>

    <!--   //更新用户状态-->
    <update id="updateUserStatue" parameterType="com.huhuto.demo.bean.UserBean">
        update user set statue=#{statue} where id=#{id}
    </update>


<!--    更新token-->
    <update id="updateToken" parameterType="com.huhuto.demo.bean.UserBean">
        update user set token=#{token} where id=#{id}
    </update>
</mapper>